###> symfony/framework-bundle ###
**/.DS_Store
/.idea
/.env
/public/bundles/
/var/
/vendor/
/public/download
/public/upload
###< symfony/framework-bundle ###
/www
###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
/process_status_log.txt
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
