<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Make your Wholesale{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/assets/bootstrap-4/css/bootstrap.min.css') }}?#TIMESTAMP#">
</head>
<body>
<div class="container">

    {% block body %}{% endblock %}

</div>

{% block javascripts %}{% endblock %}
</body>
</html>
